# Ignore all files in the models directory
models.js
Icon
node_modules/
.env
.DS_Store
*.log
*.tmp
*.swp
.idea/
.vscode/
dist/
build/
coverage/
package-lock.json
.env.local
.env.development.local
.env.test.local
.env.production.local
*.cache
*.eslintcache
*.tsbuildinfo
*.pid
*.db
*.sass-cache/
*.cache/
logs/
tmp/
*.iml
*.log.*